*{
    margin: 0;
}

.home{
    display: flex;
}

.home .sidebar{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    background-color: #0A0147;
}

.sidebar .user a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
    text-decoration: none;
    font-size: 15pt;
    font-weight: bold;
    color: white;
}

.sidebar .user img{
    width: 50%;
}

.home .options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.options a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 0 2vh 0;
    width: 100%;
    height: 10vh;
    background-color: white;
    text-decoration: none;
    font-size: 15pt;
    font-weight: bold;
    color: black;
}